
<div class="container rounded bg-dark text-white p-4 mt-4">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">Novo Funcionário</h1>
      <%= render "form", employee: @employee %>
    </div>
  </div>
</div>