
<div class="container rounded bg-dark text-white p-4 mt-4">
  <div class="row mb-3">

    <% content_for :title, "Editing position" %>

    <h1>Editing position</h1>

    <%= render "form", position: @position %>

  </div>
</div>
