
<div class="container rounded bg-dark text-white p-4 mt-4">
  <div class="row mb-3">

    <% content_for :title, "New unit" %>

    <h1>New unit</h1>

    <%= render "form", unit: @unit %>

  </div>
</div>